body{

}

header{
    background-color: rgb(59, 56, 56);
    height: 120px;
    display: flex;
    justify-content: flex-end;
    color: #fff;
}

header h1{
    margin-right: 20px;
    border-bottom: 4px solid;
}

main{
    background-color: rgb(32, 56, 100);
    width: 1080px;
    height: 500px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: -1em;
    margin-left: 143px;
}

.form input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
}

figure {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: rgb(47, 85, 150);
    border-radius: 300px;
    border: 2px solid #ffff;
    margin-top: -80px;
    margin-left: 90px;
}

#picture{
    background-color: #ffff;
    width: 160px;
    height: 160px;
    border-radius: 200px;
    margin-top: 15px;
    border: 6px solid rgb(146, 171, 219);
}